# compiled output
**/dist
**/node_modules

# next.js
**/.next/
**/out/

# production
**/build

# dependencies
**/.pnp
**/.pnp.js

# local env files
**/.env*.local
.env

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

# OS
.DS_Store

# Tests
**/coverage
**/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
